.banner {
    background: url("https://wallpapercave.com/wp/DTvUQor.jpg") no-repeat center center;
    background-size: auto;
    background-size: cover;
    padding-top: 20%;
    padding-bottom: 20%;
    color: #ffff;